@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@100;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --line--border--fill: #0ac3a7;
  --line--border--empty: #e0e0e0;
}

body {
  background-color: #f6f7fb;
  font-family: "Open Sans", "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.info {
  background-color: darkslategrey;
  color: darkkhaki;
  font-family: "Roboto";
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  padding: 20px;
  top: 30px;
  left: 0;
  z-index: 200;
}
h2.project {
  font-weight: 700;
  font-size: 25px;
}
p.challenge {
  font-weight: 400;
  font-size: 20px;
}
.tools {
  font-weight: 100;
  font-size: 18px;
  color: rgba(189, 187, 107, 0.7);
}
.author {
  font-weight: 400;
  font-size: 15px;
  color: darkkhaki;
}

.container {
  text-align: center;
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: darkslategrey;
  margin: 30px 0;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  content: "";
  background-color: var(--line--border--empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line--border--fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line--border--empty);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line--border--fill);
}

.btn {
  background-color: var(--line--border--fill);
  color: white;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn.active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line--border--empty);
  cursor: not-allowed;
}
